body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #DFF4FF !important;
}
* {
  font-family: 'Roboto', sans-serif !important;
}
h1 {
  color: #092040;
}

Table > tbody > tr:nth-child(2n+1) > td, Table > tbody > tr:nth-child(2n+1) > th {
  background-color: #86A4CC;
  border: 1px solid #86A4CC;
}
Table > tbody > tr:nth-child(2n) > td, Table > tbody > tr:nth-child(2n) > th {
  border: none !important;
}

Button {
  background: #092040 !important;
  border: 1px solid #092040 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 767x) {
  #dropdown-basic-button {
    margin-top: 0px !important;
  }
}

